body {
    margin: 0;
}

#header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to right,#ffea00,#ffd000,#ffb700,#ffa200,#ff8800,#ff7b00);
}
#header h2 , #header h1{
    font-family: "Agency FB";
}

#title{
    padding-right: 12%;
    display: flex;
    text-align: center;
    font-family: "Agency FB";
}
#Logo{
    padding-left: 1%;
    padding-right: 32%;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 140px;
    height: 140px;
}

#navBar{
    display: flex;
    justify-content: space-evenly;
}

#navBar button{
    height: 80px;
    width: 100%;
    font-weight: bold;
    font-size: large;
    font-family: "Arial Black";
    background-color:#e03615
    /*background-image: linear-gradient(to right,cyan,black,cyan);*/
}

#navBar button:hover{
    /*background-image: linear-gradient(180deg,white,black);*/
}

#midSection{
    display: flex;
    height: 600px;
}

#right{
    background-color: black;
    height: inherit;
    width: 30%;
}

#right img{
    height: 50%;
    width:100%
}
#left img{
    height: inherit;
    width: 100%;
}

#mid{
    background-color: white;
    height: 300px;
    width: 60%;
}
#left{
    background-color: darkslategray;
    height: 600px;
    width: 30%;
}

#footer{
    background-image: linear-gradient(to right,blue,cyan);
height: 200px;
    padding:45px 0 10px;

}
hr{
    height: 2px;
    background-color:black;
    border: none;
}
.columns{
    display: flex;
    justify-content: space-around;

}
.first_column{
    margin-left: -50px;
}
.first_column h1{

    margin-top: -30px;
    margin-bottom: 10px;
}
.first_column p{

   font-weight: bold;
    font-size: medium;
    font-family: Andalus;

}
.second_column{

    font-family: Andalus;
}

.second_column h1{
    text-align: center;

    margin-top: -30px;
    margin-bottom: 10px;

}
.second_column p{
    font-family: Andalus;

    font-size: medium;
    margin-top: -5px;
    margin-left: 50px;
    font-weight: bold;
}

.third_column{

    font-family: Andalus;
}

.third_column h1{
    text-align: center;
    margin-left: 200px;
    margin-top: -30px;
    margin-bottom: 10px;

}
.third_column p{
    font-family: Andalus;

    font-size: medium;
    margin-top: -5px;
    margin-left: 250px;
    font-weight: bold;
}

.copyright-text{
    font-size: large;
    font-family: Andalus;
    font-weight: bold;
    margin-left: 50px;
}
a{
    text-decoration: none;
    color: inherit;
}
