body {
    margin: 0;
}

#header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to right,#ffea00,#ffd000,#ffb700,#ffa200,#ff8800,#ff7b00);
}
#header h2 , #header h1{
    font-family: "Agency FB";
}

#title{
    padding-right: 12%;
    display: flex;
    text-align: center;
    font-family: "Agency FB";
}
#Logo{
    padding-left: 1%;
    padding-right: 32%;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 140px;
    height: 140px;
}

#navBar{
    display: flex;
    justify-content: space-evenly;
}

#navBar button{
    height: 80px;
    width: 100%;
    font-weight: bold;
    font-size: large;
    font-family: "Arial Black";
    background-color:#e03615
    /*background-image: linear-gradient(to right,cyan,black,cyan);*/
}

#navBar button:hover{
    /*background-image: linear-gradient(180deg,white,black);*/
}

#midSection{
    display: flex;
    height: 600px;
}

#right{
    background-color: black;
    height: inherit;
    width: 30%;
}

#right img{
    height: 50%;
    width:100%
}
#left img{
    height: inherit;
    width: 100%;
}

#mid{
    background-color: white;
    height: 300px;
    width: 60%;
}
#left{
    background-color: darkslategray;
    height: 600px;
    width: 30%;
}


#footer{
    text-align: center;
    font-size: medium;
    font-weight: bold;
}
